<h1>Inventory Management</h1>
<div class="row">
  <div class="col-md-5">
    <!-- <app-recipe-list
      (recipeWasSelected)="selectedRecipe = $event"></app-recipe-list> -->
  </div>
  
  <div class="col-md-7">
    <!-- <app-recipe-detail
      *ngIf="selectedRecipe; else infoText"
      [recipe]="selectedRecipe"></app-recipe-detail> -->
      List of Files in the Application BackEnd 
    <ng-template #infoText>
      <p>Please select a inventory!</p>
    </ng-template>
  </div>
</div>
<app-dataTable></app-dataTable>
